<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>api.filter.EncodingFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>BackServletFilter</filter-name>
		<filter-class>api.filter.BackServletFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>BackServletFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>ApiInfoServlet</servlet-name>
		<servlet-class>api.servlet.ApiInfoServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ApiInfoServlet</servlet-name>
		<url-pattern>/apiInfoServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ApiAttributeServlet</servlet-name>
		<servlet-class>api.servlet.ApiAttributeServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ApiAttributeServlet</servlet-name>
		<url-pattern>/apiAttributeServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ApiResultServlet</servlet-name>
		<servlet-class>api.servlet.ApiResultServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ApiResultServlet</servlet-name>
		<url-pattern>/apiResultServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ApiProjectServlet</servlet-name>
		<servlet-class>api.servlet.ApiProjectServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ApiProjectServlet</servlet-name>
		<url-pattern>/apiProjectServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RelationServlet</servlet-name>
		<servlet-class>api.servlet.RelationServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>RelationServlet</servlet-name>
		<url-pattern>/relationServlet</url-pattern>
	</servlet-mapping>
</web-app>