body {
	padding-top: 70px;
}

div.workingArea {
	margin: 0px 40px;
}

div.addDiv {
	width: 400px;
	margin: 0px auto;
}
div.addApiDiv {
    width: 400px;
    height: 420px;
}

div.addGroupDiv {
    width: 400px;
    height: 200px;
}

div.addProjDiv {
    width: 400px;
    height: 300px;
}

div.editDiv {
	width: 400px;
	margin: 0px auto;
}

table.addTable {
	width: 100%;
}

table.editTable {
	width: 100%;
}

table.editTable td {
	padding: 5px;
}

table.addTable td {
	padding: 5px;
}

div.pageDiv {
	text-align: center;
}

div.listDataTableDiv {
	min-height: 220px;
	float: left;
    min-width: 50%;
}

div.listDataTableDiv1 {
	min-height: 220px;
	
}

div.footer {
	margin: 20px;
}

div.editPVDiv {
	width: 800px;
	margin: 0 auto;
}

td {
	font-size: 14px;
}

th {
	font-size: 14px;
}

#layer {
	display: none;
	position: absolute;
	left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
	z-index: 11;
}

#layer1 {
	display: none;
	position: absolute;
	left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
	z-index: 11;
}

#layer2 {
	display: none;
	position: absolute;
	left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
	z-index: 11;
}

#layer3 {
	display: none;
}

#layerBg {
	display: none;
	position: absolute;
	z-index: 10;
	background: #696969;
	width: 100%;
	height: 100%;
	-moz-opacity: 0.8;
	opacity: .80;
	left: 0;
	top: 0;
}

#listTitle{
	padding: 8px 15px;
    margin-bottom: 5px;
    background-color: #ecf5e7;
    border-radius: 4px;
}
#listTitle button{
	margin-left:15px;
}

#groupTitle{
	padding: 8px 15px;
	height:45px;
    background-color: #ecf5e7;
    border-radius: 4px;
}
.tda{
	margin-left: 40px;
}
.rightSpan{
	float:right;
}
